@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
:root {
    --primary: #F0FFFF;
    --dark: #000000;
    --body:

}

h1,h2,h3,h4,h5,h6 .display-4 {
    color:black	;
}
.hero {
    background-color:#00BFFF;
    background-size: auto;
    background-attachment: fixed;
}